.wilks-calculator {
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  -webkit-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.75);
  display: flex;
  font-size: 20px;
  flex-direction: column;
  min-width: 500px;
  border-radius: 2px;
  min-height: 300px;
  text-align: center;

  .input-kg {
    width: 160px;
  }

  .wilks-calculator_row {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
  }

  .wilks-calculator_score-row {
    margin: 20px;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
  }

  .wilks-calculator_score {
    font-size: 32px;
    font-weight: 600;
  }

  .wilks-calculator_left-column {
    width: 200px;
    margin-right: 10px;
    text-align: right;
  }

  .wilks-calculator_right-column {
    vertical-align: middle;
    margin-left: 10px;
  }
}
